@charset "utf-8";
html {
font-size:14px;
color: #000;
overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height:1.5;
	margin: 0;
	padding: 0;
	
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
a, a:link, a:visited {
	color: #0A58B8;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
.container {
	width: 960px;
	background: #FFF;
	margin: 0 auto;
}
.sidebar_list h3{
	font-family: "Helvetica",Arial,San-Serif;
	font-size:110%;
	margin-bottom:5px;
	font-weight: normal;
}
.sidebar_list ul li a, .sidebar_list ul li a:visited{
	color:#787878;
	text-decoration:none;
	line-height:2;
	width:100%;
	display:block;
	border-bottom:1px solid #f0f0f0;
	margin-left:-4px;
	padding-left:4px;
}
.sidebar_list ul li a:hover{
	color:#0A58B8;
	text-decoration:underline;
	background-color:#eee;
}
.sidebar_list ul{
	margin-bottom:30px;
	font-size:8pt;
	color:#343434;
}
.sidebar_list .children{
	margin-bottom:0px !important;
	padding-left:5px;
}
.about-me{
	margin-bottom:20px;
	font-size:12px;
	color:#787878;
}
.about-me a{
	text-decoration:none;
	color:#787878;
	line-height:1.9 !important;
}
.about-me a:hover {
	color: #0a58b8;
	text-decoration:none;
}
.gravatar{
	width:42px;
	height:42px;
	margin-right:8px;
	float:left;
	padding: 2px;
	border: 1px solid #DDD;
}
.navbar a span{
	color:#aaa;
	font-size:smaller;
}
blockquote{
	background-color:#f5f5f5;
	border-left:solid 3px #e5e5e5;
	padding: 10px;
	padding-left:20px;
	font-style:italic;
	margin-bottom:20px;
	color:#555;
}
blockquote p{
	margin:0 !important;
	padding:0 !important;
}
blockquote.code{
	font-family: monospace;
	white-space: pre;
	background-color:#eee;
	padding:5px;
	font-style:normal;
	line-height:1.3;
	margin:0;
	color:#232323;
	margin-bottom:20px;
}
pre{
	line-height:1.3 !important;
}
code{
	/* background-color:#eee; */
	border-bottom:dotted 1px #aaa;		
	padding:1px;
}
.navbar ul{
	width:100%;
	height:26px;
	border-top:solid 1px #000000;
	border-bottom:solid 1px #d9d9d9;
}
.navbar li{
	display:inline;
}
.navbar a, ul.nav a:visited {
	line-height:26px;
	padding-left:20px;
	padding-right:20px;
	float:left;
	text-decoration:none;
	color: #2b2b2b;
	font-size:80%;
}
.navbar a:hover {
	color: #0A58B8;
}
.header {
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
}
.logo{
	float:left;
}
.tagline{
	font-size:85%;
	color:#777777;
	line-height:26px;
	margin-left:140px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.sidebar1 {
	float: right;
	width: 290px;
	padding-top:20px;
	padding-bottom: 10px;
}
.content{
	padding: 20px;
	padding-left: 20px;
	padding-right: 0;
	width: 620px;
	float: left;
}
.post h3{
	font-size:14px;
	font-weight:lighter;
	color:#676767;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.post ul, .post ol { 
	padding: 0 5px 5px 30px;
}
.post p img.alignleft{
	border:1px solid #d8d8d8;
	padding:4px;
	margin-bottom:8px;
	margin-right:10px;
	margin-top:4px;
	background-color:#f9f9f9;
}
.post p img.alignright{
	border:1px solid #d8d8d8;
	padding:4px;
	margin-bottom:8px;
	margin-left:10px;
	margin-top:4px;
	background-color:#f9f9f9;
}
.post p, .post ol, .post ul{
	margin-bottom:10px;
}
.post ol li{
	margin-bottom:10px;
}
.post ul{
	list-style-type: square;
}
.post ul li{
	margin-bottom:0;
}
.content .post{
	margin-bottom:30px;
}
.post h1{
	margin-top:32px;
}
.post h1.post-title{
	margin-top:0;
}
.post h1, .post h1 a, .post .post-title, .post .post-title a{
	font-family:Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
	color:#222;
	display:block;
}
.post h1 a:hover, .post .post-title a:hover{
	color:#0A58B8;
}
.post h1, .post .post-title{
	margin-bottom:10px;
	font-size:140%;
}
.post-content h2{
	font-size:117%;
	margin-top:16px;
	margin-bottom:5px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#545454;
	border-bottom:1px solid #ddd;
}
.post h3{
	font-size:117%;
	margin-top:16px;
	margin-bottom:5px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#343434;
	font-weight:bold;
}
.post ol{
	list-style:decimal;
}
.post-content {
	line-height:175%;
	color:#333;
	margin-top:5px;
	margin-bottom:5px;
}
.entry-date{
	position:relative;
	top:-6px;
	font-size:90%;
	color:#999;
	margin-bottom:3px;
}
.list-title{
	color:#999;
}
.list-title span{
	font-style: italic;
	font-size:140%;
	color:#444;
}

.list-content{
	margin-top:20px;
}
.list-content li{
	margin-bottom:10px;
}
.list-content a{
	color:#444;
	margin-top:0px;
	text-decoration:none;
}
.list-content a:hover{
	color: #0A58B8;
	text-decoration:underline;
}
.list-content span{
	font-size:80%;
	color:#afafaf;
	text-decoration:none;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:10px;
}
.comments{
	margin-top:50px;
	border-top:1px solid #ddd;
	padding-top:20px;
}
.post-info{
	font-size:80%;
	color:#afafaf;
	text-decoration:none;
	margin-top:0px;
	margin-bottom:0px;
}
.post-info a{
	color:#afafaf;
	text-decoration:none;
}
.post-info a:hover{
	color:#0A58B8;
	text-decoration:underline;
}
a.tag{
	padding:2px;
	padding-left:4px;
	padding-right:4px;
	margin-right:5px;
	background-color:#e7e7e7;
	border-bottom:1px solid #797979;
	border-right:1px solid #aaa;
	color:#777;
	font-weight:normal;
	text-decoration:none;
	margin-bottom:5px;
}
.post-info .tags{
	margin-top:15px;
	margin-bottom:15px;
}
a.tag:hover{
	background-color:#777;
	border-bottom:1px solid #777;
	border-right:1px solid #777;
	color:#fff;
	text-decoration:none;
}
a.cat:hover{
	background-color:#698A94;
	border-bottom:1px solid #698A94;
	border-right:1px solid #698A94;
	color:#fff;
	text-decoration:none;
}
#s{
	font-size:90%;
	font-family:Arial, Helvetica, sans-serif;
	color:#898989; 
	border:0;  
	background-image:url(../img/s_icon.gif); 
	background-repeat:no-repeat; 
	background-position:0px 2px;
	padding-left:20px;
	padding-right:10px;
	float:right;
	height:16px;
	margin-top:4px;
	width:55px;
}
.blognav .newerposts{
	display:none;
}
.blognav a{
	padding:7px;
	text-decoration:none;
	background-color:#ededed;
	color:#232323;
}
.blognav a:hover {
	color:#0A58B8;
	background-color:#ccc;
}
.footer{
	padding: 10px 0;
	position: relative;
	clear: both;
	padding-top:30px;
	color:#bcbcbc;
	padding-left:20px;
	padding-right:15px;
}
.footer a{
	color:#bcbcbc;
}
.footer div{
	font-size:80%;
}
.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
